/******************************
** GENERAL SETTINGS **
******************************/

body { 
  padding-top: 50px; 
  overflow: auto;
}

header {
  background: url(images/blur-background.jpg) no-repeat;
  background-size: cover;
  padding: 50px 0;
  color: white;
  text-align: center;
}

header h1 {
  padding: 0;
  margin:0;
}

.location {
  font-style: italic;
}

.social-media {
  margin: 20px;
}

.social-media .fa {
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  color: #ccc;
}

.profile-pict {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

section {
  margin: 50px auto;
  border-top: 1px solid #ccc;
}

#presentation {
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  border-top: 0;
}

.section-title {
  margin: 0 auto 30px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #ccc;
  color: white;
  width: 20%;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
}

.box-title {
  background-color: #ccc;
  color: white;
  text-align: center;
  padding: 5px;
}

.image-gallery {
  position: relative;
}

.caption {
  background-color: rgba(1,1,1,0.8);
  background-color: rgb(1,1,1);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: none;
}


/* ==========================================================================
   Pre-Loader
   ========================================================================== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 9999999;
}
#status {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -18px;
}

#status-message {
  width: auto;
  height: auto;
  left: 41%;
  top: 44%;
  position: absolute;
  color: white;
  margin: -18px 0 0 -18px;
}
.spinner {
    height: 36px;
    width: 36px;
    position: relative;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
    border-left: 3px solid rgba(238,78,68,.15);
    border-right: 3px solid rgba(238,78,68,.15);
    border-bottom: 3px solid rgba(238,78,68,.15);
    border-top: 3px solid rgba(238,78,68,.8);
    border-radius: 100%;
}
@-webkit-keyframes rotation { 
  from {
      -webkit-transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(359deg)
  }
}
@-moz-keyframes rotation { 
  from {
      -moz-transform: rotate(0deg)
  }
  to {
      -moz-transform: rotate(359deg)
  }
}
@-o-keyframes rotation { 
  from {
      -o-transform: rotate(0deg)
  }
  to {
      -o-transform: rotate(359deg)
  }
}
@keyframes rotation { 
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(359deg)
  }
}
